[machine]
#machine_name =
# Set the following if you don't want to use machine defaults
modelroot = /gpfs/wolf2/cades/cli185/proj-shared/zdr/trendy_2025/E3SM_TRENDY
exeroot = '/gpfs/wolf2/cades/cli185/scratch/zdr/e3sm_run/20250827_US-MOz_ICB1850CNRDCTCBC_ad_spinup/bld'
queue = batch_ccsi

[simulation]
runtype = site
case_suffix = 

# Site-specific options
sites = US-MOz
sitegroup = AmeriFlux
res = hcru_hcru
mettype = site
use_cpl_bypass = True

[biogeochemistry]
nutrients = CNP
nutrient_comp = RD
soil_decomp = CTC

[run_lengths]
nyears_ad = 200
nyears_final = 200
nyears_trans = 164
trans_startyear = 1850

[case_options]
use_nofire = .true.

#Comment out below or remove if not running ensembles/UQ
[ensemble]
parm_list   = 'parm_list'
nsamples    = 480
#Note:  baseline is restricted to 500 parallel jobs
np_ensemble = 480

[postprocessing]
variables = GPP, EFLX_LH_TOT, FSH, TLAI
startyear = 2007
endyear   = 2007
frequency = daily  

# Fluxnet observations for calibration
[observations]
location = /gpfs/wolf2/cades/cli185/proj-shared/zdr/fluxnet
variables = GPP
