[machine]
machine_name = docker
# Set the following if you don't want to use machine defaults
modelroot = /code/E3SM-Peatlands
exeroot = /output/e3sm_run/20260331_US-MOz_ICBELMBC_enulator/bld/

[simulation]
#runtype = site
case_suffix = emulator

# Site-specific options
#sites = US-MOz
#sitegroup = AmeriFlux
res = hcru_hcru
mettype = crujra
metdir = '/inputdata/atm/datm7/atm_forcing.CRUJRA_trendy_2025/cpl_bypass_full/'
use_cpl_bypass = True
#offline_driver = True

runtype = latlon_bbox
name = sg256

lon_bounds = -180,180
lat_bounds = -90,90
numproc = 8


[biogeochemistry]
nutrients = none
#nutrient_comp = RD
#soil_decomp = CTC

[run_lengths]
nyears_ad = 0
nyears_final = 34
nyears_trans = 0
trans_startyear = 1980
#resubmit_years = 100

[case_options]
use_nofire = .true.
surffile_global = '/inputdata/lnd/clm2/sparsegrid/surfdata.clusters256_f09.nc'
domainfile_global = '/inputdata/lnd/clm2/sparsegrid/domain.clusters256_f09.nc'

[parameters]
crit_gdd1 = 4.8
crit_gdd2 = 0.13

#Comment out below or remove if not running ensembles/UQ
#[ensemble]
#parm_list   = 'parm_list'
#nsamples    = 480
#Note:  baseline is restricted to 500 parallel jobs
#np_ensemble = 480
#resubmit_years = 100

[postprocessing]
variables = FPSN, EFLX_LH_TOT, FSH, TLAI
startyear = 2000
endyear   = 2007
frequency = daily  

# Fluxnet observations for calibration
#[observations]
#location = /gpfs/wolf2/cades/cli185/proj-shared/zdr/fluxnet
#variables = GPP
