[machine]
machine_name = cades-baseline
modelroot = /gpfs/wolf2/cades/cli185/proj-shared/zdr/E3SM
#inputdata =
#exeroot = 
queue = batch_ccsi

[simulation]
runtype = latlon_bbox
name = CONUS

lon_bounds = -125.5,-66
lat_bounds = 23,50
res = f09_f09
numproc = 640

mettype = gswp3
use_cpl_bypass = True

[biogeochemistry]
nutrients = CNP
nutrient_comp = RD
soil_decomp = CTC

[run_lengths]
nyears_ad = 200
nyears_final = 400
nyears_trans = 164
trans_startyear = 1850

