[machine]
machine_name = docker
inputdata = /inputdata
modelroot = /code/E3SM-Peatlands

[simulation]
runtype = site
case_suffix = Marcell_S2_diag50hydro_regwt
sites = US-SPR
sitegroup = AmeriFlux
res = hcru_hcru
mettype = site
metdir = %(inputdata)s/SPRUCE_data/2024_version/plot07
use_cpl_bypass = True

[biogeochemistry]
nutrients = CNP
nutrient_comp = RD
soil_decomp = CTC

[run_lengths]
nyears_ad = 50
nyears_final = 0
nyears_trans = 0
trans_startyear = 1850
force_full_spinup_cycles = False

[case_options]
use_nofire = .true.
humhol = .true.
use_humhol = .true.
paramfile = /code/elm-olmt/parameter_files/clm_params_SPRUCE_20250507_19pfts.nc
fsurdat = /code/E3SM-Peatlands/surfdata_marcell_s2_4topounit.nc
maxpatch_pft = 20
obs_zwt_forcing = .false.
use_shrub_moss_shading = .true.

[postprocessing]
variables = 'ZWT_PERCH_col','ZWT_col','FROST_TABLE_col','ZWT_PERCH_K_col','ZWT_PERCH_KBARRIER_col','ZWT_PERCH_SAT1_col','ZWT_PERCH_SAT2_col','WA_col','FSAT_col','H2OSFC_col','FH2OSFC_col','H2OSNO_col','FSNO_col','SNOW_DEPTH_col','QSNOMELT_col','QINFL_col','QSOIL_col','QVEGE_col','QVEGT_col','EFLX_LH_TOT_col','FSH_col','QOVER_col','QH2OSFC_col','QDRAI_col','QDRAI_PERCH_col','QDRAI_XS_col','QDRAI_VR_col','QFLX_ADV_col','QFLX_LAT_AQU_col','QFLX_LAT_AQU_LAYER_col','QFLX_SURF_INPUT_col','QFROM_UPHILL_col','QTO_DOWNHILL_col','QRGWL_col','QCHARGE_col','SOILLIQ_col','SOILICE_col','H2OSOI_col','EFF_POROSITY_col','watsat_col','HK_col','TSOI_col','RAIN','SNOW','TBOT'
cols = 0,1,2,3
frequency = daily
startyear = 1
endyear = 50

[parameters]
blower_u0 = 3.0
vpd_min_moss = 10000.0
vpd_max_moss = 18000.0
vwc_moss_offset = 0.00
# lwtop_ann is a scalar all-PFT parameter; leave at the parameter-file default
# until ELM supports a PFT-indexed live wood turnover parameter.
flivewd = 3, 0.3, 5, 0.3, 14, 0.3
mr_acclim_warming_frac = 0.0
mr_acclim_spinup_years = 20.0
q10_mr_pft = 0, 1.7, 1, 1.7, 2, 1.5, 3, 1.7, 4, 1.7, 5, 1.7, 6, 1.7, 7, 1.7, 8, 1.7, 9, 1.7, 10, 1.5, 11, 1.7, 12, 1.7, 13, 1.5, 14, 1.7, 15, 1.7, 16, 1.7, 17, 1.7, 18, 1.7, 19, 1.7, 20, 1.7, 21, 1.7, 22, 1.7, 23, 1.7, 24, 1.7, 25, 1.7, 26, 1.7, 27, 1.7, 28, 1.7, 29, 1.7
br_mr_pft = 2, 2.52e-6, 10, 2.52e-6, 13, 2.52e-6
dormant_mr_temp = 273.15
dormant_mr_factor = 0.1
slatop = 3, 0.00791, 5, 0.02069
leafcn = 3, 81.01, 5, 41.71
