[machine]
machine_name = auto
modelroot_name = E3SM-Peatlands
# inputdata, modelroot, runroot, and caseroot use machine defaults.
# Default modelroot: Docker /code/E3SM-Peatlands; Pathfinder
# /projects/hpcl-cli185/proj-shared/${USER}/E3SM-Peatlands; local Linux
# ${HOME}/models/E3SM-Peatlands.
# olmtdir is the directory containing elm_olmt.py, not the launch directory.
# partition is only used on Slurm machines. Pathfinder defaults to parallel;
# uncomment to use the CLI185 partition/QoS on Pathfinder:
#partition = hpcl-cli185

[simulation]
runtype = site
case_suffix = peatlandparms

# Site-specific options
sites = US-SPR
sitegroup = AmeriFlux
res = hcru_hcru
mettype = site
metdir = %(inputdata)s/SPRUCE_data/2024_version/plot07
use_cpl_bypass = True

[biogeochemistry]
nutrients = CNP
nutrient_comp = RD
soil_decomp = CTC

[run_lengths]
nyears_ad = 200
nyears_final = 400
nyears_trans = 165
trans_startyear = 1850

[case_options]
use_nofire = .true.
humhol = .true.
use_humhol = .true.
#pftdynfile = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot07.nc
paramfile = %(olmtdir)s/parameter_files/clm_params_Peatlands_20260707_22pfts.nc
maxpatch_pft = 22
site_pft_fractions = 3, 36.0, 5, 14.0, 14, 25.0, 18, 25.0
obs_zwt_forcing = .false.
use_shrub_moss_shading = .true.
boardwalk_shade_frac = 1.0
boardwalk_light_trans = 0.5

#isotopes
#use_c13 = .true.
#use_c14 = .true.
#use_c14_bombspike = .true.
#atm_c14_filename =  %(inputdata)s/atm/datm7/CO2/C14input_CMIP6_EXP2CO2_SPRUCE.nc

#Comment out below or remove if not running ensembles/UQ
[ensemble]
parm_list   = %(olmtdir)s/parm_list_SPR_moss
nsamples    = 500
np_ensemble = 252
#resubmit_years = 100

[postprocessing]
variables = 'NPP_pft','GPP_pft','TOTVEGC_pft','TOTVEGC_ABG_pft','FROOTC_pft','TLAI_pft','QVEGT_pft','QVEGE_pft','LEAFC_pft','AGNPP_pft','BGNPP_pft','CPOOL_pft','PLANT_NDEMAND_pft','PLANT_PDEMAND_pft','TOTSOMC','HR','ER','NEE','GPP','NPP','FSH','QSOIL','QOVER','QDRAI','QFLX_LAT_AQU','ZWT','TSOI','H2OSOI','MR_pft','LEAF_MR_pft','FROOT_MR_pft','BTRAN_pft','QFLX_LAT_AQU_col','ZWT_col','WA_col','QFROM_UPHILL_col','H2OSFC_col','SOILLIQ_col','SOILICE_col','H2OSOI_col','EFF_POROSITY_col','watsat_col','RAIN','SNOW','LIVESTEM_MR_pft','LIVECROOT_MR_pft'
pfts = 25,27,36,40,47,49,58,62
cols = 0,1,2
frequency = monthly
startyear = 2015
endyear = 2023

[parameters]
blower_u0 = 3.0
vpd_min_moss =  2500.0
vpd_max_moss = 5000.0
vwc_moss_offset = 0.00
qflx_h2osfc_surfrate = 8.9192395533995e-08
#For Warren et al. in prep study on woody respiration acclimation
# lwtop_ann is a scalar all-PFT parameter; leave at the parameter-file default
# until ELM supports a PFT-indexed live wood turnover parameter.
flivewd   = 3, 0.3, 5, 0.3, 14, 0.3
mr_acclim_warming_frac = 0.0
mr_acclim_spinup_years = 20.0
q10_mr_pft = 0, 1.7, 1, 1.7, 2, 1.5, 3, 1.7, 4, 1.7, 5, 1.7, 6, 1.7, 7, 1.7, 8, 1.7, 9, 1.7, 10, 1.5, 11, 1.7, 12, 1.7, 13, 1.5, 14, 1.7, 15, 1.7, 16, 1.7, 17, 1.7, 18, 1.7, 19, 1.7, 20, 1.7, 21, 1.7, 22, 1.7, 23, 1.7, 24, 1.7, 25, 1.7, 26, 1.7, 27, 1.7, 28, 1.7, 29, 1.7
br_mr_pft = 2, 2.52e-6, 10, 2.52e-6, 13, 2.52e-6
#Dormancy test (introduced by Sulman et al.)
dormant_mr_temp = 273.15
dormant_mr_factor = 0.1
#Source:  Balog et al., 2025  https://doi.org/10.25581/spruce.121/2503934
slatop = 3, 0.00791, 5, 0.02069
leafcn = 3, 81.01, 5, 41.71


[treatment_options]
#global options to be applied for each treatment case
nyears = 9
startdate_add_co2 = '20160301'
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot07.nc

#Individual treatment cases and their specific options
[treatment1]
name = TAMB
metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot07
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot07.nc
add_co2 = 0

[treatment2]
name = T0.00
metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot06
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot06.nc
add_co2 = 0

[treatment3]
name = T2.25
metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot20
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot20.nc
add_co2 = 0

[treatment4]
name = T4.50
metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot13
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot13.nc
add_co2 = 0

[treatment5]
name = T6.75
metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot08
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot08.nc
add_co2 = 0

[treatment6]
name = T9.00
metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot17
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot17.nc
add_co2 = 0

#[treatment7]
#name = T0.00eCO2
#metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot19
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot19.nc
#add_co2 = 500

#[treatment8]
#name = T2.25eCO2
#metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot11
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot11.nc
#add_co2 = 500

#[treatment9]
#name = T4.50eCO2
#metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot04
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot04.nc
#add_co2 = 500

#[treatment10]
#name = T6.75eCO2
#metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot16
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot16.nc
#add_co2 = 500

#[treatment11]
#name = T9.00eCO2
#metdir   = %(inputdata)s/SPRUCE_data/2024_version/plot10
#pftdynfile  = %(inputdata)s/SPRUCE_data/pftdyn/surfdata.pftdyn_plot10.nc
#add_co2 = 500
